body {
    background-color: black;
}

#logo {
    display: block;
    width: 20em;
    height: 10em;
    margin: 30px auto;
}

input {
    border: transparent;
    border-radius: 7px;
    color: white;
    background-color: rgba(33, 33, 33, 1);
    font-weight: 800;
    width: 15em;
    padding: 5px;
    margin-bottom: 15px;
}

button {
    background-color: rgba(21, 172, 0, 1);
    color: white;
    width: 15em;
    height: 4em;
    border-radius: 7px;
    font-weight: 700;
    border: transparent;
    cursor: pointer;
    margin-bottom: 15px;
}

button:hover {
    background-color: rgba(21, 172, 0, 0.5);
}

p, h2 {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inscreverse {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    margin-top: 20px;
}

#inscreverse a {
    color: white;
    text-decoration: none;
}

#inscreverse a:hover {
    text-decoration-line: underline;
    text-decoration-color: white;
}

.linha {
    width: 30%;
    height: 1px;
    background-color: white;
    margin: auto 10px;
}

#inscricao {
    display: flex;
    align-items: center;
    justify-content: center;
}

#branco {
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
}

#carlosbraga {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#carlosbraga p {
    text-align: center;
    margin-left: 15px;
    color:white;
}

#carlosbraga p::after{
    content: "CEO e Fundador";
    color: rgba(255, 255, 255, 0.5);
}

h2 {
    text-align: center;
}